<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('partials/cssPartials') %>

<body>
<%- include('partials/nav') %>

<h1> <%= firstname%>'s profile</h1>
<p> Your First Name : <%= firstname%> </p>
<p> Your Last Name : <%= lastname%> </p>
<p> Your Job Title : <%= job_title%> </p>
<p> Your Employee Number : <%= employee_number%> </p>
<p> Your Email Address : <%= email%> </p>
</body>
</html>
