<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <%- include('partials/cssPartials')%>

</head>
<body>
<%- include('partials/nav')%>


<div class="user popup-overlay">
    <div class="card-group popup-content">
        <div class="card">
            <!--                <img src="..." class="card-img-top" alt="...">-->
            <div class="card-body">
                <form action="/api/managerupdate" method="post">
                    <input type="hidden" name="user_id" value="<%= foundUser.employee_number%>">
                    First Name: <input class="form-control" type="text" name="first_name" value="<%= foundUser.first_name %>">
                    Last Name: <input class="form-control" type="text" name="last_name" value="<%= foundUser.last_name %>">
                    Job Title: <input class="form-control" type="text" name="job_title" value="<%= foundUser.job_title %>">
                    Employee Number: <input class="form-control" type="text" name="employee_number" value="<%= foundUser.employee_number %>" disabled>
                    Employee Email: <input class="form-control" type="text" name="email" value="<%= foundUser.email %>">
                    Reset Password: <input class="form-control" type="password" name="password" placeholder="Change to reset Password">
                    <label for="exampleFormControlSelect1">Access Level <b>(current: <%= foundUser.access_level%>)</b></label>
                    <button>Save Profile Changes</button>
                </form>
                <div class="card-footer">
                    <small class="text-muted">created: <%= foundUser.created_on %></small><br>
                </div>
                <button class="close">Close</button>
            </div>
        </div>
    </div>

    <%= typeof msg != 'undefined' ? msg : '' %>
    <form action="/api/upload" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="user_id" value="<%= foundUser.user_id%>">

        <div class="file-field input-field">
            <div class="btn grey">
                <span>File</span>
                <input name="myImage" type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
    <br>
    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
</div>


<img src="<%= foundUser.image%>" alt="">

    <%- include('partials/jsPartials')%>

</body>
</html>