<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <%- include('partials/cssPartials')%>

</head>
<body>
<%- include('partials/nav')%>
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <form action="/staff/updateemployee" method="post">
                <input type="hidden" name="user_id" value="<%= foundUser.user_id%>">
                First Name: <input class="form-control" type="text" name="first_name" value="<%= foundUser.first_name %>" disabled>
                Last Name: <input class="form-control" type="text" name="last_name" value="<%= foundUser.last_name %>" disabled>
                Job Title: <input class="form-control" type="text" name="job_title" value="<%= foundUser.job_title %>">
                Department: <input class="form-control" type="text" name="department" value="<%= foundUser.department %>">
                Employee Number: <input class="form-control" type="text" name="employee_number" value="<%= foundUser.employee_number %>" disabled>
                Employee Email: <input class="form-control" type="text" name="email" value="<%= foundUser.email %>">
                Reset Password: <input class="form-control" type="password" name="password" placeholder="Change to reset Password">
                <label for="exampleFormControlSelect1">Access Level: <%= foundUser.access_level%></label>
                <select class="form-control" name="manager" id="exampleFormControlSelect1">
                    <% foundManagers.forEach(function(manager){ %>
                        <option name="manager" value="<%= manager.user_id%>"> <%= manager.first_name %> <%= manager.last_name %></option>
                    <% }); %>
                </select>
                <button class="btn btn-primary mt-2">Reset Password</button>
            </form>
        </div>
        <div class="col-5 text-center mt-4">
            <form action="/api/upload" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="user_id" value="<%= foundUser.user_id%>">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" name="myImage" class="custom-file-input" id="inputGroupFile01"
                               aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Upload a photo</label>
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Upload</button>
            </form>
            <img id="picturebox" src="<%= foundUser.image%>" class="img-fluid rounded mt-5" alt="Responsive image" height="300">
            <p>Join Date: <%= foundUser.created_on%></p>
        </div>
    </div>
</div>
<%- include('partials/jsPartials')%>
</body>
</html>