<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('partials/cssPartials') %>
<body>

    <%- include('partials/nav') %>
    <h1 class="addemployee">Add Employee</h1>

    <form id="add-employee" action="/api/addemployee" method="post">
        First name: <input type="text" id="firstname" name="firstname">
        Last name: <input type="text" id="lastname" name="lastname">
        Jobtitle: <input type="text" id="jobtitle" name="jobtitle">
        Start Date: <input type="date" id="startdate" name="startdate">
        Employee number: <input type="text" id="employeenumber" name="employeenumber">
        Email <input type="email" id="email" name="email">



        <label for="manager">Manager</label>
        <select name="manager" id="manager">
        <% foundManagers.rows.forEach(function(manager){ %>
        <option value='<%= manager.fullname %>'><%= manager.fullname %>
            <% }); %>
        </option>
        </select>
        <button> Submit </button>
    </form>

    <%- include('partials/jsPartials') %>

</body>
</html>
