<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('partials/cssPartials') %>

<body>
<%- include('partials/nav') %>

<h1>Edit profile page</h1>
<div class="user popup-overlay">
    <div class="card-group popup-content">
        <div class="card">
            <div class="card-body">
    <form action="/api/updateemployee" method="post">
        <input type="hidden" name="user_id" value="<%= foundUser.user_id%>">
        First Name: <input class="form-control" type="text" name="first_name" value="<%= foundUser.first_name %>">
        Last Name: <input class="form-control" type="text" name="last_name" value="<%= foundUser.last_name %>">
        Job Title: <input class="form-control" type="text" name="job_title" value="<%= foundUser.job_title %>">
        Department: <input class="form-control" type="text" name="department" value="<%= foundUser.department %>">
        Employee Number: <input class="form-control" type="text" name="employee_number" value="<%= foundUser.employee_number %>">
        Employee Email: <input class="form-control" type="text" name="email" value="<%= foundUser.email %>">
        Reset Password: <input class="form-control" type="password" name="password" placeholder="Change to reset Password">
        <label for="exampleFormControlSelect1">Access Level <b>(current: <%= foundUser.access_level%>)</b></label>
        <select class="form-control" name="access_level" id="exampleFormControlSelect1">
            <option disabled selected value="">Change Access Rights</option>
            <option value="0">HR (0)</option>
            <option value="1">Manager (1)</option>
            <option value="2">Staff (2)</option>
        </select>
        <button>Save Profile Changes</button>
    </form>
                <div class="card-footer">
                    <small class="text-muted">created: <%= foundUser.created_on %></small><br>
                </div>
                <button class="close">Close</button>
            </div>
        </div>
    </div>

<%- include('partials/jsPartials') %>

</body>
</html>
