<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('partials/cssPartials') %>

<body>
<%- include('partials/nav') %>

<h1 class="profile"> <%= username%>'s profile</h1>
 <h2> Your email - <%= email%> </h2>
<%- include('partials/jsPartials') %>

</body>
</html>
