<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <%- include('partials/cssPartials')%>
<style>

#personalinfo{
  border-style:groove;
}

#team{
  border-style:groove;
}

#video{
  border-style:groove;
}

#random{
  /* margin-left:500px; */
  position:relative;
  left:0px;
}

.sizer{
  width: 500px;
  margin-left:250px;
}
.navbar{
  width:100%;
}

</style>

<script async>(function(w, d) { w.CollectId = "5e52d74bc7a22b54f16318fa"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>

</head>
<body>
<%- include('partials/nav')%>
<div class="container">
    <div class="row">
        <div class="col-12">
          <br>
            <h1 > Welcome <%=foundUser.first_name %>!</h1>
            <br>
            <div id="personalinfo">
            <h3 style="background-color: #f2f2f2">  My Profile</h3>
            <ul>
              <br>
              <div id="random">
                <img style="border-radius: 50%; height:200px;background-attachment:fixed" src="<%= foundManager.image%>" alt="">
              </div>
              <br>
              <p>First Name : <%=foundUser.first_name %></p>
              <p>Last Name : <%= foundUser.last_name %></p>
              <p>Job Title : <%= foundUser.job_title %></p>
              <p>Employee Number : <%= foundUser.employee_number %></p>
              <p>Manager : <%= foundManager.first_name %> <%= foundManager.last_name %></p>
            </div>
            <br>
            <br>
            <div id="team">
            <h3 style="background-color:#f2f2f2">  Meet the team</h3>
            <ul>
              <% foundDepartment.forEach(function(department){ %>
                <p>                   <img style="border-radius: 50%; width:65px; height:60px;" src="<%= department.image%>" alt=""> </li>
                  <a href='/staff/<%= department.user_id %>'><%= department.first_name %> <%= department.last_name %> </a>
                  <% }); %>
                </p>
           </ul>
        </div>
        <br>
        <br>
        <div id="video">
          <h3 style="background-color: #f2f2f2">Welcome Video</h3>
          <div class="sizer">
            <div id="headerPopup" class="mfp-hide embed-responsive embed-responsive-4by3"">
              <iframe class="embed-responsive-item" width="50%" height="100%" src="https://www.youtube.com/embed/RGMCcffJmMM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div id="welcomepack">
        <h3 style="background-color: #f2f2f2">  Welcome Pack</h3>
        <iframe src="https://info.lse.ac.uk/Staff/Divisions/Human-Resources/Assets/Documents/LSE-New-Starter-Guide.pdf" width="100%" height="500px">
        </iframe>
    </div>
    <br>

</div>
</body>
</html>
