<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('partials/cssPartials') %>

<body>

<%- include('partials/nav') %>

<br>
<br>


<div class="container">
    <table class="table mt-5" id="records_table">

        <tr>
            <th scope="col">Employee Number</th>
            <th scope="col">Full Name</th>
            <th scope="col">Department</th>
            <th scope="col">Email Address</th>
            <th scope="col">Access Level</th>
            <th scope="col">Options</th>
        </tr>
        <% for (let i = 0; i < foundUsers.length; i++) { %>

            <tr>
                <td><%= foundUsers[i].employee_number%></td>
                <td><%= foundUsers[i].first_name %> <%= foundUsers[i].last_name %></td>
                <td><%= foundUsers[i].department%></td>
                <td><%= foundUsers[i].email%></td>
                <td><%= foundUsers[i].access_level%></td>
                <td><a class="btn btn-danger mr-1" style="width: 150px" href="/hr/profile/<%= foundUsers[i].employee_number%>/">Edit Profile</a>
                    <a class="btn btn-success" style="width: 150px" href="/hr/requests/<%= foundUsers[i].employee_number%>/">Create Request</a></td>
            </tr>
        <% } %>

    </table>
</div>

<%- include('partials/jsPartials') %>
</body>
</html>
